@import url(https://fonts.googleapis.com/css?family=Armata:400,500);body {
  font: 1em "Armata";
  -webkit-font-smoothing: antialiased; }

.d3-tip {
  white-space: nowrap;
  line-height: 1;
  font-size: 12px;
  display: none;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  border-color: #000;
  pointer-events: none;
  z-index: 2; }

@media screen and (min-width: 800px) {
  .d3-tip {
    display: block; } }

.d3-tip:after {
  box-sizing: border-box;
  display: none;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none; }

@media screen and (min-width: 800px) {
  .d3-tip:after {
    display: inline; } }

.d3-tip.n {
  margin: -10px 0 0; }

.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0;
  top: 100%;
  left: 0;
  text-align: center; }

.d3-tip.ne {
  margin: -10px 0 0 -45px; }

.d3-tip.ne:after {
  content: "\25BC";
  bottom: -8px;
  left: 18px;
  text-align: left; }

.d3-tip.nw {
  margin: -10px 0 0 45px; }

.d3-tip.nw:after {
  content: "\25BC";
  bottom: -8px;
  right: 18px;
  text-align: right; }

.animate, .btn, .btn-border-o:before, .btn-border-o:after, .btn-border:before, .btn-border:after, .btn-border-rev-o:before, .btn-border-rev-o:after, .btn-border-rev:before, .btn-border-rev:after, .btn-fill-vert-o:before, .btn-fill-vert-o:after, .btn-fill-vert:before, .btn-fill-vert:after, .btn-fill-horz-o:before, .btn-fill-horz-o:after, .btn-fill-horz:before, .btn-fill-horz:after {
  transition: all 0.3s; }

/* Main Styles */
.btn {
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 0 15px;
  font-size: 17px;
  position: relative;
  opacity: .999;
  border-radius: 3px; }

.btn-border-o {
  background-color: transparent;
  color: #B8B8B8; }
  .btn-border-o:before, .btn-border-o:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box; }
  .btn-border-o:before {
    width: 0;
    height: 100%;
    border-width: 2px 0 2px 0;
    top: -2px;
    left: 0;
    transition-delay: 0.05s; }
  .btn-border-o:after {
    width: 100%;
    height: 0;
    border-width: 0 2px 0 2px;
    top: 0;
    left: -2px; }
  .btn-border-o:hover:before {
    width: 100%; }
  .btn-border-o:hover:after {
    height: 100%; }
  .btn-border-o.btn-green:before, .btn-border-o.btn-green:after {
    border-color: #2ecc71; }
  .btn-border-o.btn-green:hover {
    color: #2ecc71; }
  .btn-border-o.btn-blue:before, .btn-border-o.btn-blue:after {
    border-color: #3498db; }
  .btn-border-o.btn-blue:hover {
    color: #3498db; }
  .btn-border-o.btn-purple:before, .btn-border-o.btn-purple:after {
    border-color: #9b59b6; }
  .btn-border-o.btn-purple:hover {
    color: #9b59b6; }
  .btn-border-o.btn-navy:before, .btn-border-o.btn-navy:after {
    border-color: #34495e; }
  .btn-border-o.btn-navy:hover {
    color: #34495e; }
  .btn-border-o.btn-orange:before, .btn-border-o.btn-orange:after {
    border-color: #e67e22; }
  .btn-border-o.btn-orange:hover {
    color: #e67e22; }
  .btn-border-o.btn-red:before, .btn-border-o.btn-red:after {
    border-color: #ef3829; }
  .btn-border-o.btn-red:hover {
    color: #ef3829; }
  .btn-border-o.btn-white:before, .btn-border-o.btn-white:after {
    border-color: #ffffff; }
  .btn-border-o.btn-white:hover {
    color: #ffffff; }

.btn-border-o.active {
  border-style: solid;
  border-width: 2px;
  color: #ffffff;
  z-index: 5;
  border-radius: 3px;
  box-sizing: content-box; }

.btn-border {
  background-color: #e5e5e5;
  color: #a6a6a6; }
  .btn-border:before, .btn-border:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box; }
  .btn-border:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    left: 0;
    transition-delay: 0.05s; }
  .btn-border:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    top: 0;
    left: -1px; }
  .btn-border:hover {
    background-color: transparent; }
    .btn-border:hover:before {
      width: 100%; }
    .btn-border:hover:after {
      height: 100%; }
  .btn-border.btn-green:before, .btn-border.btn-green:after {
    border-color: #2ecc71; }
  .btn-border.btn-green:hover {
    color: #2ecc71; }
  .btn-border.btn-blue:before, .btn-border.btn-blue:after {
    border-color: #3498db; }
  .btn-border.btn-blue:hover {
    color: #3498db; }
  .btn-border.btn-purple:before, .btn-border.btn-purple:after {
    border-color: #9b59b6; }
  .btn-border.btn-purple:hover {
    color: #9b59b6; }
  .btn-border.btn-navy:before, .btn-border.btn-navy:after {
    border-color: #34495e; }
  .btn-border.btn-navy:hover {
    color: #34495e; }
  .btn-border.btn-orange:before, .btn-border.btn-orange:after {
    border-color: #e67e22; }
  .btn-border.btn-orange:hover {
    color: #e67e22; }
  .btn-border.btn-red:before, .btn-border.btn-red:after {
    border-color: #ef3829; }
  .btn-border.btn-red:hover {
    color: #ef3829; }
  .btn-border.btn-white:before, .btn-border.btn-white:after {
    border-color: #ffffff; }
  .btn-border.btn-white:hover {
    color: #ffffff; }

.btn-border-rev-o {
  background-color: transparent;
  border: 1px solid #d0d0d0;
  color: #B8B8B8; }
  .btn-border-rev-o:before, .btn-border-rev-o:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box; }
  .btn-border-rev-o:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    right: 0;
    transition-delay: 0.05s; }
  .btn-border-rev-o:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    bottom: 0;
    left: -1px; }
  .btn-border-rev-o:hover:before {
    width: 100%; }
  .btn-border-rev-o:hover:after {
    height: 100%; }
  .btn-border-rev-o.btn-green:before, .btn-border-rev-o.btn-green:after {
    border-color: #2ecc71; }
  .btn-border-rev-o.btn-green:hover {
    color: #2ecc71; }
  .btn-border-rev-o.btn-blue:before, .btn-border-rev-o.btn-blue:after {
    border-color: #3498db; }
  .btn-border-rev-o.btn-blue:hover {
    color: #3498db; }
  .btn-border-rev-o.btn-purple:before, .btn-border-rev-o.btn-purple:after {
    border-color: #9b59b6; }
  .btn-border-rev-o.btn-purple:hover {
    color: #9b59b6; }
  .btn-border-rev-o.btn-navy:before, .btn-border-rev-o.btn-navy:after {
    border-color: #34495e; }
  .btn-border-rev-o.btn-navy:hover {
    color: #34495e; }
  .btn-border-rev-o.btn-orange:before, .btn-border-rev-o.btn-orange:after {
    border-color: #e67e22; }
  .btn-border-rev-o.btn-orange:hover {
    color: #e67e22; }
  .btn-border-rev-o.btn-red:before, .btn-border-rev-o.btn-red:after {
    border-color: #ef3829; }
  .btn-border-rev-o.btn-red:hover {
    color: #ef3829; }
  .btn-border-rev-o.btn-white:before, .btn-border-rev-o.btn-white:after {
    border-color: #ffffff; }
  .btn-border-rev-o.btn-white:hover {
    color: #ffffff; }

.btn-border-rev {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: #a6a6a6; }
  .btn-border-rev:before, .btn-border-rev:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box; }
  .btn-border-rev:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    right: 0; }
  .btn-border-rev:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    bottom: 0;
    left: -1px;
    transition-delay: 0.05s; }
  .btn-border-rev:hover {
    background-color: transparent; }
    .btn-border-rev:hover:before {
      width: 100%; }
    .btn-border-rev:hover:after {
      height: 100%; }
  .btn-border-rev.btn-green:before, .btn-border-rev.btn-green:after {
    border-color: #2ecc71; }
  .btn-border-rev.btn-green:hover {
    color: #2ecc71; }
  .btn-border-rev.btn-blue:before, .btn-border-rev.btn-blue:after {
    border-color: #3498db; }
  .btn-border-rev.btn-blue:hover {
    color: #3498db; }
  .btn-border-rev.btn-purple:before, .btn-border-rev.btn-purple:after {
    border-color: #9b59b6; }
  .btn-border-rev.btn-purple:hover {
    color: #9b59b6; }
  .btn-border-rev.btn-navy:before, .btn-border-rev.btn-navy:after {
    border-color: #34495e; }
  .btn-border-rev.btn-navy:hover {
    color: #34495e; }
  .btn-border-rev.btn-orange:before, .btn-border-rev.btn-orange:after {
    border-color: #e67e22; }
  .btn-border-rev.btn-orange:hover {
    color: #e67e22; }
  .btn-border-rev.btn-red:before, .btn-border-rev.btn-red:after {
    border-color: #ef3829; }
  .btn-border-rev.btn-red:hover {
    color: #ef3829; }
  .btn-border-rev.btn-white:before, .btn-border-rev.btn-white:after {
    border-color: #ffffff; }
  .btn-border-rev.btn-white:hover {
    color: #ffffff; }

.btn-fill-vert-o {
  background-color: transparent;
  border: 1px solid #d0d0d0;
  color: #B8B8B8;
  overflow: hidden; }
  .btn-fill-vert-o:before, .btn-fill-vert-o:after {
    content: '';
    width: 100%;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: -1; }
  .btn-fill-vert-o:before {
    top: 50%; }
  .btn-fill-vert-o:after {
    bottom: 50%; }
  .btn-fill-vert-o:hover {
    color: #fff; }
    .btn-fill-vert-o:hover:before, .btn-fill-vert-o:hover:after {
      height: 50%;
      opacity: 1; }
  .btn-fill-vert-o.btn-green:before, .btn-fill-vert-o.btn-green:after {
    background-color: #2ecc71; }
  .btn-fill-vert-o.btn-green:hover {
    border-color: #2ecc71; }
  .btn-fill-vert-o.btn-blue:before, .btn-fill-vert-o.btn-blue:after {
    background-color: #3498db; }
  .btn-fill-vert-o.btn-blue:hover {
    border-color: #3498db; }
  .btn-fill-vert-o.btn-purple:before, .btn-fill-vert-o.btn-purple:after {
    background-color: #9b59b6; }
  .btn-fill-vert-o.btn-purple:hover {
    border-color: #9b59b6; }
  .btn-fill-vert-o.btn-navy:before, .btn-fill-vert-o.btn-navy:after {
    background-color: #34495e; }
  .btn-fill-vert-o.btn-navy:hover {
    border-color: #34495e; }
  .btn-fill-vert-o.btn-orange:before, .btn-fill-vert-o.btn-orange:after {
    background-color: #e67e22; }
  .btn-fill-vert-o.btn-orange:hover {
    border-color: #e67e22; }
  .btn-fill-vert-o.btn-red:before, .btn-fill-vert-o.btn-red:after {
    background-color: #ef3829; }
  .btn-fill-vert-o.btn-red:hover {
    border-color: #ef3829; }
  .btn-fill-vert-o.btn-white:before, .btn-fill-vert-o.btn-white:after {
    background-color: #ffffff; }
  .btn-fill-vert-o.btn-white:hover {
    border-color: #ffffff; }

.btn-fill-vert {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: #a6a6a6;
  overflow: hidden; }
  .btn-fill-vert:before, .btn-fill-vert:after {
    content: '';
    width: 100%;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: -1; }
  .btn-fill-vert:before {
    top: 50%; }
  .btn-fill-vert:after {
    bottom: 50%; }
  .btn-fill-vert:hover {
    color: #fff; }
    .btn-fill-vert:hover:before, .btn-fill-vert:hover:after {
      height: 50%;
      opacity: 1; }
  .btn-fill-vert.btn-green:before, .btn-fill-vert.btn-green:after {
    background-color: #2ecc71; }
  .btn-fill-vert.btn-green:hover {
    border-color: #2ecc71; }
  .btn-fill-vert.btn-blue:before, .btn-fill-vert.btn-blue:after {
    background-color: #3498db; }
  .btn-fill-vert.btn-blue:hover {
    border-color: #3498db; }
  .btn-fill-vert.btn-purple:before, .btn-fill-vert.btn-purple:after {
    background-color: #9b59b6; }
  .btn-fill-vert.btn-purple:hover {
    border-color: #9b59b6; }
  .btn-fill-vert.btn-navy:before, .btn-fill-vert.btn-navy:after {
    background-color: #34495e; }
  .btn-fill-vert.btn-navy:hover {
    border-color: #34495e; }
  .btn-fill-vert.btn-orange:before, .btn-fill-vert.btn-orange:after {
    background-color: #e67e22; }
  .btn-fill-vert.btn-orange:hover {
    border-color: #e67e22; }
  .btn-fill-vert.btn-red:before, .btn-fill-vert.btn-red:after {
    background-color: #ef3829; }
  .btn-fill-vert.btn-red:hover {
    border-color: #ef3829; }
  .btn-fill-vert.btn-white:before, .btn-fill-vert.btn-white:after {
    background-color: #ffffff; }
  .btn-fill-vert.btn-white:hover {
    border-color: #ffffff; }

.btn-fill-horz-o {
  background-color: transparent;
  border: 1px solid #d0d0d0;
  color: #B8B8B8;
  overflow: hidden; }
  .btn-fill-horz-o:before, .btn-fill-horz-o:after {
    content: '';
    width: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1; }
  .btn-fill-horz-o:before {
    left: 50%; }
  .btn-fill-horz-o:after {
    right: 50%; }
  .btn-fill-horz-o:hover {
    color: #fff; }
    .btn-fill-horz-o:hover:before, .btn-fill-horz-o:hover:after {
      width: 50%;
      opacity: 1; }
  .btn-fill-horz-o.btn-green:before, .btn-fill-horz-o.btn-green:after {
    background-color: #2ecc71; }
  .btn-fill-horz-o.btn-green:hover {
    border-color: #2ecc71; }
  .btn-fill-horz-o.btn-blue:before, .btn-fill-horz-o.btn-blue:after {
    background-color: #3498db; }
  .btn-fill-horz-o.btn-blue:hover {
    border-color: #3498db; }
  .btn-fill-horz-o.btn-purple:before, .btn-fill-horz-o.btn-purple:after {
    background-color: #9b59b6; }
  .btn-fill-horz-o.btn-purple:hover {
    border-color: #9b59b6; }
  .btn-fill-horz-o.btn-navy:before, .btn-fill-horz-o.btn-navy:after {
    background-color: #34495e; }
  .btn-fill-horz-o.btn-navy:hover {
    border-color: #34495e; }
  .btn-fill-horz-o.btn-orange:before, .btn-fill-horz-o.btn-orange:after {
    background-color: #e67e22; }
  .btn-fill-horz-o.btn-orange:hover {
    border-color: #e67e22; }
  .btn-fill-horz-o.btn-red:before, .btn-fill-horz-o.btn-red:after {
    background-color: #ef3829; }
  .btn-fill-horz-o.btn-red:hover {
    border-color: #ef3829; }
  .btn-fill-horz-o.btn-white:before, .btn-fill-horz-o.btn-white:after {
    background-color: #ffffff; }
  .btn-fill-horz-o.btn-white:hover {
    border-color: #ffffff; }

.btn-fill-horz {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: #a6a6a6;
  overflow: hidden; }
  .btn-fill-horz:before, .btn-fill-horz:after {
    content: '';
    width: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1; }
  .btn-fill-horz:before {
    left: 50%; }
  .btn-fill-horz:after {
    right: 50%; }
  .btn-fill-horz:hover {
    color: #fff; }
    .btn-fill-horz:hover:before, .btn-fill-horz:hover:after {
      width: 50%;
      opacity: 1; }
  .btn-fill-horz.btn-green:before, .btn-fill-horz.btn-green:after {
    background-color: #2ecc71; }
  .btn-fill-horz.btn-green:hover {
    border-color: #2ecc71; }
  .btn-fill-horz.btn-blue:before, .btn-fill-horz.btn-blue:after {
    background-color: #3498db; }
  .btn-fill-horz.btn-blue:hover {
    border-color: #3498db; }
  .btn-fill-horz.btn-purple:before, .btn-fill-horz.btn-purple:after {
    background-color: #9b59b6; }
  .btn-fill-horz.btn-purple:hover {
    border-color: #9b59b6; }
  .btn-fill-horz.btn-navy:before, .btn-fill-horz.btn-navy:after {
    background-color: #34495e; }
  .btn-fill-horz.btn-navy:hover {
    border-color: #34495e; }
  .btn-fill-horz.btn-orange:before, .btn-fill-horz.btn-orange:after {
    background-color: #e67e22; }
  .btn-fill-horz.btn-orange:hover {
    border-color: #e67e22; }
  .btn-fill-horz.btn-red:before, .btn-fill-horz.btn-red:after {
    background-color: #ef3829; }
  .btn-fill-horz.btn-red:hover {
    border-color: #ef3829; }
  .btn-fill-horz.btn-white:before, .btn-fill-horz.btn-white:after {
    background-color: #ffffff; }
  .btn-fill-horz.btn-white:hover {
    border-color: #ffffff; }

.input-sheet {
  margin: 60px auto; }
  .input-sheet p {
    font-weight: 100;
    color: #000;
    font-size: 18px; }
  .input-sheet .input-sheet__logo {
    text-align: center;
    padding-bottom: 40px; }
    .input-sheet .input-sheet__logo a {
      border-bottom: none; }
      .input-sheet .input-sheet__logo a img {
        width: 200px; }
  .input-sheet .radar-footer {
    padding-top: 200px; }
  .input-sheet .input-sheet__banner {
    background-image: url("/images/tech-radar-201611-landing-page-wide.png");
    background-repeat: no-repeat;
    background-color: rgba(65, 65, 65, 0.9);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 240px;
    padding-top: 45px; }
  .input-sheet .input-sheet__form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px; }
    .input-sheet .input-sheet__form button {
      border: none;
      background-color: transparent;
      margin: 0;
      padding: 0; }
  .input-sheet input[type="text"] {
    border-bottom: 2px solid #d7d7d7;
    display: block;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 10px;
    transition: box-shadow 0.3s, border 0.3s; }
    .input-sheet input[type="text"]:focus, .input-sheet input[type="text"].focus {
      outline: none;
      border-bottom: 2px solid #d7d7d7;
      box-shadow: none; }

.error-container {
  text-align: center;
  padding-top: 300px; }
  .error-container .error-container__message {
    width: 60%;
    display: inline-block; }

header {
  width: 100%;
  line-height: 40px;
  text-align: center;
  margin-bottom: 15px; }
  header a.btn {
    text-decoration: none;
    min-width: 40px; }
  header .logo {
    position: relative;
    width: 150px;
    margin: 0 auto; }
    header .logo img {
      width: 150px;
      height: auto;
      margin-bottom: 10px; }
  header .radar-title {
    background-color: rgba(65, 65, 65, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    display: table;
    margin: auto;
    width: 100%; }
    header .radar-title .radar-title__text {
      display: table-cell;
      width: 70%;
      text-align: left;
      padding-left: 100px; }
      header .radar-title .radar-title__text h1 {
        font-size: 55px;
        font-weight: 900;
        letter-spacing: -.04em;
        line-height: 0.8em;
        margin: 0;
        text-transform: uppercase; }
    header .radar-title .radar-title__logo {
      width: 30%;
      display: table-cell;
      vertical-align: middle; }
      header .radar-title .radar-title__logo a {
        border-bottom: none; }
      header .radar-title .radar-title__logo img {
        vertical-align: middle;
        width: 35%; }
  header .print-radar {
    margin-left: 100px; }
  header .home-link {
    color: #ef3829;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding-bottom: 15px; }
  header .button {
    font-size: 1em;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 20px;
    border-radius: 2px;
    line-height: 1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-out;
    background-color: #dadada;
    color: #000; }
    header .button.no-capitalize {
      text-transform: none; }
    header .button:hover, header .button.selected {
      transform: translate(0, -2px);
      opacity: .85; }
      header .button:hover.first, header .button.selected.first {
        color: white;
        background-color: #86b782; }
      header .button:hover.second, header .button.selected.second {
        color: white;
        background-color: #1ebccd; }
      header .button:hover.third, header .button.selected.third {
        color: white;
        background-color: #f38a3e; }
      header .button:hover.fourth, header .button.selected.fourth {
        color: white;
        background-color: #b32059; }
    header .button.full-view.first {
      background-color: #86b782;
      color: #fff; }
    header .button.full-view.second {
      background-color: #1ebccd;
      color: #fff; }
    header .button.full-view.third {
      background-color: #f38a3e;
      color: #fff; }
    header .button.full-view.fourth {
      background-color: #b32059;
      color: #fff; }

footer {
  margin-bottom: -400px; }

#footer {
  text-align: center;
  clear: both; }
  #footer .footer-content {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1px; }
    #footer .footer-content p {
      padding-top: 20px;
      font-size: 1em;
      font-weight: 100;
      color: #B8B8B8;
      text-align: center; }

.blip-container {
  position: absolute;
  right: 57px;
  top: 0px; }

.blip {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  background: #ef3829;
  transition: all 0.2s;
  animation: r5 1s 0s ease-out infinite; }

.blip-badge {
  background-color: rgba(239, 56, 41, 0.2);
  font-weight: 100;
  margin-left: 5px;
  padding: 0px 3px 0px 3px;
  border-radius: 3px;
  display: none; }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@keyframes r5 {
  0% {
    box-shadow: 0 0 8px 6px #ef3829, 0 0 0px 0px transparent, 0 0 0px 0px #ef3829; }
  10% {
    box-shadow: 0 0 8px 6px #ef3829, 0 0 12px 10px transparent, 0 0 12px 14px #ef3829; }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0); } }

body {
  margin: 0;
  margin-bottom: -20px; }

pre {
  display: none !important; }

h2 {
  margin: 0 auto; }

footer {
  background-color: rgba(65, 65, 65, 0.9); }

.red {
  color: #ef3829; }

@media screen {
  #radar {
    width: 80%;
    margin: 0 auto;
    position: relative; }
    #radar svg#radar-plot {
      margin: 0 auto;
      transition: all 1s ease;
      position: absolute;
      left: 0;
      right: 0; }
      #radar svg#radar-plot .legend {
        visibility: hidden;
        transition: visibility 1s ease 1s;
        color: #000; }
      #radar svg#radar-plot path.ring-arc-3 {
        stroke: none;
        fill: #eee; }
      #radar svg#radar-plot path.ring-arc-2 {
        stroke: none;
        fill: #dadada; }
      #radar svg#radar-plot path.ring-arc-1 {
        stroke: none;
        fill: #cacaca; }
      #radar svg#radar-plot path.ring-arc-0 {
        stroke: none;
        fill: #bababa; }
      #radar svg#radar-plot .blip-link {
        text-decoration: none;
        cursor: pointer; }
      #radar svg#radar-plot .quadrant-group {
        cursor: pointer; }
      #radar svg#radar-plot circle.first, #radar svg#radar-plot polygon.first, #radar svg#radar-plot path.first {
        fill: #86b782;
        stroke: none; }
      #radar svg#radar-plot circle.second, #radar svg#radar-plot polygon.second, #radar svg#radar-plot path.second {
        fill: #1ebccd;
        stroke: none; }
      #radar svg#radar-plot circle.third, #radar svg#radar-plot polygon.third, #radar svg#radar-plot path.third {
        fill: #f38a3e;
        stroke: none; }
      #radar svg#radar-plot circle.fourth, #radar svg#radar-plot polygon.fourth, #radar svg#radar-plot path.fourth {
        fill: #b32059;
        stroke: none; }
      #radar svg#radar-plot line {
        stroke: white; }
      #radar svg#radar-plot text.blip-text {
        font-size: 9px;
        font-style: inherit;
        fill: #fff; }
      #radar svg#radar-plot text.line-text {
        font-weight: bold;
        text-transform: uppercase;
        fill: #000;
        font-size: 11px; }
    #radar div.quadrant-table {
      max-height: 0;
      max-width: 0;
      position: absolute;
      overflow: hidden;
      transition: max-height 0.5s ease 1s; }
      #radar div.quadrant-table .quadrant-table__name {
        display: none; }
      #radar div.quadrant-table h3 {
        text-transform: uppercase;
        font-size: 1em;
        margin: 0;
        font-weight: bold; }
      #radar div.quadrant-table.first {
        right: 20px; }
        #radar div.quadrant-table.first.selected {
          float: right; }
      #radar div.quadrant-table.second {
        left: 20px; }
        #radar div.quadrant-table.second.selected {
          float: left; }
      #radar div.quadrant-table.third {
        left: 20px; }
        #radar div.quadrant-table.third.selected {
          float: left; }
      #radar div.quadrant-table.fourth {
        right: 20px; }
        #radar div.quadrant-table.fourth.selected {
          float: right; }
      #radar div.quadrant-table.selected {
        position: relative;
        max-height: 90%;
        max-width: 40%;
        overflow-y: scroll; }
      #radar div.quadrant-table ul {
        padding: 0;
        margin-left: 0; }
        #radar div.quadrant-table ul li {
          list-style-type: none;
          padding-left: 0; }
          #radar div.quadrant-table ul li .blip-list-item {
            padding: 2px 5px;
            border-radius: 2px;
            cursor: pointer;
            font-size: 1em;
            font-weight: 400; }
            #radar div.quadrant-table ul li .blip-list-item.highlight {
              color: white;
              background-color: rgba(0, 0, 0, 0.8); }
              #radar div.quadrant-table ul li .blip-list-item.highlight .blip-badge {
                background-color: #ef3829; }
          #radar div.quadrant-table ul li .blip-item-description {
            max-height: 0;
            overflow: hidden;
            width: 300px;
            transition: max-height 0.2s ease; }
            #radar div.quadrant-table ul li .blip-item-description p {
              margin: 10px;
              border-top: 1px solid #777777;
              border-bottom: 1px solid #777777;
              padding: 20px;
              color: #333333;
              font-weight: 100;
              font-size: 14px; }
            #radar div.quadrant-table ul li .blip-item-description.expanded {
              transition: max-height 0.5s ease 0.2s;
              max-height: 1000px; } }
