#footer{
  text-align: center;
  clear: both;

  .footer-content {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;

    p {
      padding-top: 40px;
      font-size: $baseFont;
      font-weight: $baseWeight;
      color: #B8B8B8;
      text-align: center;
    }

  }
}
