.blip-container {
  position: absolute;
  right: 57px;
  top: 0px;
}

.blip {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  background: $red;
  transition: all 0.2s;
  animation: r5 1s 0s ease-out infinite;
}

.blip-badge {
    background-color: transparentize($red, 0.8);
    font-weight: 100;
    margin-left: 5px;
    padding: 0px 3px 0px 3px;
    border-radius: 3px;
    display: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes r5 {
  0% {
    box-shadow: 0 0 8px 6px $red, 0 0 0px 0px transparent, 0 0 0px 0px $red;
  }
  10% {
    box-shadow: 0 0 8px 6px $red, 0 0 12px 10px transparent, 0 0 12px 14px $red;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}
