@import 'colors';
@import 'fonts';
@import 'tip';
@import 'buttons';
@import 'form';
@import 'error';
@import 'header';
@import 'footer';
@import 'radar';

body {
  margin: 0;
  margin-bottom: -20px;
}

pre {
  display: none !important;
}

h2 {
  margin: 0 auto;
}

footer {
  background-color: $grey-light;
}

.red {
  color: $red;
}

@media screen {

  #radar {
    width: 80%;
    margin: 0 auto;
    position: relative;

    svg#radar-plot {
      margin: 0 auto;
      transition: all 1s ease;
      position: absolute;
      left: 0;
      right: 0;

      .legend {
        visibility: hidden;
        transition: visibility 1s ease 1s;
        color: $black;
      }

      path {
        &.ring-arc-3 {
          stroke: none;
          fill: $grey-light-arc;
        }
        &.ring-arc-2 {
          stroke: none;
          fill: $grey;
        }
        &.ring-arc-1 {
          stroke: none;
          fill: $grey-dark;
        }
        &.ring-arc-0 {
          stroke: none;
          fill: $grey-darkest;
        }
      }

      .blip-link {
        text-decoration: none;
        cursor: pointer;
      }

      .quadrant-group {
        cursor: pointer;
      }

      circle, polygon, path {
        &.first {
          fill: $green;
          stroke: none;
        }
        &.second {
          fill: $blue;
          stroke: none;
        }
        &.third {
          fill: $orange;
          stroke: none;
        }
        &.fourth {
          fill: $violet;
          stroke: none;
        }
      }

      line {
        stroke: white;
      }

      text {
        &.blip-text {
          font-size: 9px;
          font-style: inherit;
          fill: $white;
        }

        &.line-text {
          font-weight: bold;
          text-transform: uppercase;
          fill: $black;
          font-size: 11px;
        }
      }
    }

    div.quadrant-table {

      .quadrant-table__name {
        display: none;
      }

      max-height: 0;
      max-width: 0;
      position: absolute;
      overflow: hidden;

      transition: max-height 0.5s ease 1s;

      h3 {
        text-transform: uppercase;
        font-size: $baseFont;
        margin: 0;
        font-weight: bold;
      }

      &.first {
        right: 20px;

        &.selected {
          float: right;
        }
      }

      &.second {
        left: 20px;

        &.selected {
          float: left;
        }
      }

      &.third {
        left: 20px;

        &.selected {
          float: left;
        }
      }

      &.fourth {
        right: 20px;

        &.selected {
          float: right;
        }
      }

      &.selected {
        position: relative;
        max-height: 90%;
        max-width: 40%;
        overflow-y: scroll;
      }

      ul {
        padding: 0;
        margin-left: 0;

        li {
          list-style-type: none;
          padding-left: 0;

          .blip-list-item {
            padding: 2px 5px;
            border-radius: 2px;
            cursor: pointer;
            font-size: $baseFont;
            font-weight: 400;

            &.highlight {
              color: white;
              background-color: rgba(0, 0, 0, 0.8);
              .blip-badge {
                background-color: $red;
              }
            }
          }

          .blip-item-description {
            max-height: 0;
            overflow: hidden;
            width: 300px;

            p {
              margin: 10px;
              padding-top: 3px;
              color: $grey-text;
              font-weight: 100;
              font-size: 14px;
            }

            span > p {
              padding-bottom: 10px;
              border-bottom: 1px solid rgb(119, 119, 119);
            }

            transition: max-height 0.2s ease;
            &.expanded {
              transition: max-height 0.5s ease 0.2s;
              max-height: 1000px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-height: 736px) {
  svg#radar-plot {
    display: none !important;
  }
  header .button {
    display: block;
    margin: 0 auto !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-radius: 0 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  #radar {
    width: 90% !important;
    .quadrant-table {
      .first {
        right: 0 !important;
      }
      .second {
        left: 0 !important;
      }
    }
    .quadrant-table.selected {
      float: left !important;
      max-width: 100% !important;
      width: 100% !important;
    }
    .quadrant-table ul li {
      .blip-list-item {
        border-radius: 0 !important;
        margin-right: 15px !important;
      }
      .blip-item-description {
        width: 100% !important;
      }
    }
  }
}
