# Header
menu:
  Home: /
  Archives: /archives
rss: /feed.xml

# Content
excerpt_link: Read More

# Sidebar
sidebar:
widgets:
- category
- tag
- tagcloud
- archive
- recent_posts

# display widgets at the bottom of index pages (pagination == 2)
index_widgets:
# - category
# - tagcloud
# - archive

# widget behavior
archive_type: 'monthly'
show_count: false

# Miscellaneous
favicon: images/favicon-32x32.png
